<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    {% if session.slimFlash.next.0 == true %}
    <link type="text/css" rel="stylesheet" href="../../web/css/materialize.min.css" media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="../../web/css/styles.css" media="screen,projection"/>
    {% else %}
    <link type="text/css" rel="stylesheet" href="../web/css/materialize.min.css" media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="../web/css/styles.css" media="screen,projection"/>
    {% endif %}

    <title>Racoin - Backend Annonce</title>
</head>

<header>
    <nav>
        <div class="nav-wrapper light-blue accent-4">
            <a href="#" class="brand-logo center">Racoin - Administration</a>
        </div>
    </nav>
</header>

<body class="grey darken-4">

<div class="container">

    <div class="row">

        {% for a in annonce %}
        <h2 class="white-text center">{{ a.titre }}</h2>

        <div class="col s12">
            <div class="card grey darken-4">
                <div class="card-content">
                    <ul>
                        <li><b> Id : </b>{{ a.id }}</li>
                        <li><b>Prix : </b>{{ a.prix }}</li>
                        <li><b>Description : </b>{{ a.descriptif }}</li>
                        <li><b>Date : </b>{{ a.date_online }}</li>
                        <li><b>Ville : </b>{{ a.ville }}</li>
                        <li><b>Mail : </b>{{ a.mail_a }}</li>
                        <li><b>Tel : </b>{{ a.tel_a }}</li>
                    </ul>
                </div>
            </div>
        </div>

        {% endfor %}
    </div>
    <a href="{{ route.validate }}" class="waves-effect waves-light btn">
        Valider
    </a>
    <a href="{{ route.delete }}" class="waves-effect waves-light btn">
        Supprimer
    </a>
    <a href="{{ route.next }}" class="waves-effect waves-light btn">
        Suivante
    </a>
    <a href="{{ route.back }}" class="waves-effect waves-light btn">
        Retour
    </a>
</div>
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="../web/js/materialize.min.js"></script>
</body>
</html>