<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../../web/css/styles.css">
    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="../../web/css/materialize.min.css" media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="../../web/css/styles.css" media="screen,projection"/>
    <title>Racoin - Backend Login</title>
    <title>Erreur</title>
</head>

<header>
    <nav>
        <div class="nav-wrapper light-blue accent-4">
            <a href="#" class="brand-logo center">Racoin - Administration</a>
        </div>
    </nav>
</header>

<body class="grey darken-4">

<div class="container">
    <div class="row">
        {% if msgType == error %}
        <div class="col offset-s2 s8 center">
            <div class="card-panel green lighten-1">
                {% if error.titre is defined %}
                <h4>{{ error.titre }}</h4>
                <h5>{{ error.message }}</h5>
                {% else %}
                <h6>{{ error.message }}</h6>
                {% endif %}
            </div>
            {% else %}
            <div class="card-panel red darken-1">
                {% if error.titre is defined %}
                <h4>{{ error.titre }}</h4>
                <h5>{{ error.message }}</h5>
                {% else %}
                <h6>{{ error.message }}</h6>
                {% endif %}
            </div>
        {% endif %}
            <a href="{{ route.back }}" class="waves-effect waves-light btn">Retour</a>
        </div>
    </div>
</div>

<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="../../web/js/materialize.min.js"></script>
</body>
</html>