<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="web/css/materialize.min.css" media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="web/css/styles.css" media="screen,projection"/>
    <title>Racoin - Backend Login</title>
</head>

<header>
    <nav>
        <div class="nav-wrapper light-blue accent-4">
            <a href="#" class="brand-logo center">Racoin - Administration</a>
        </div>
    </nav>
</header>

<body class="grey darken-4">

<div class="container">
    <div class="row ">
        <div class="offset-s2 col s8">
            <div class="card-panel grey darken-4 z-depth-4">

                <!-- On regarde si la variable de session slimFlash existe-->
                {% if session.slimFlash is defined %}
                <!-- Si AccessNotAllowed-->
                {% if session.slimFlash.AccessNotAllowed is defined %}
                <div class="card-panel red darken-1">{{ session.slimFlash.AccessNotAllowed.0}}</div>
                <!--Sinon ça peut que être LoginFailed-->
                {% else %}
                <div class="card-panel red darken-1">{{ session.slimFlash.LoginFailed.0}}</div>
                {% endif %}
                {% endif %}

                {% if session.logged is defined and session.logged == 1 %}
                    <ul>
                        <li><a href="unvalidated">Annonces non validées</a></li>
                    </ul>
                <a href="logout" class="waves-effect waves-light btn">Déconnexion</a>

                {% else %}
                <form action="" method="post">
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="material-icons prefix">account_circle</i>
                            <input id="user" type="text" name="username">
                            <label for="user">Nom d'utilisateur</label>
                        </div>
                        <div class="input-field col s12">
                            <i class="material-icons prefix">lock</i>
                            <input id="pwd" type="password" name="password">
                            <label for="pwd">Mot de passe</label>
                        </div>
                    </div>
                    <button class="btn waves-effect waves-light" type="submit" name="action">
                        Connexion
                        <i class="material-icons right">send</i>
                    </button>
                </form>
                {% endif %}
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="web/js/materialize.min.js"></script>
</body>
</html>