<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="web/css/materialize.min.css" media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="web/css/styles.css" media="screen,projection"/>
    <title>Racoin - Backend Annonces non validées</title>
</head>

<header>
    <nav>
        <div class="nav-wrapper light-blue accent-4">
            <a href="#" class="brand-logo center">Racoin - Administration</a>
        </div>
    </nav>
</header>

<body class="grey darken-4">

<div class="container">
    <h2 class="white-text center">Annonces non validées</h2>

    <div class="row">

        {% for annonce in annonces %}

        <div class="col s6">
            <div class="card grey darken-4">
                <div class="card-content">
                    <a href="{{ annonce.router }}">
                        <ul>
                            <li><b>ID :</b> {{ annonce.id }}</li>
                            <li><b>Titre :</b> {{ annonce.titre }}</li>
                            <li><b>Prix :</b> {{ annonce.prix }}</li>
                        </ul>
                    </a>
                </div>
            </div>
        </div>

        {% endfor %}
    </div>

    <a href="{{ route.back }}" class="waves-effect waves-light btn">Retour</a>
</div>
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="web/js/materialize.min.js"></script>
</body>
</html>