li {
    font-size: 1.3em;
    color: #039be5;
}

b {
    color: white;
}

.btn {
    background-color: #0091ea;
}

.btn:hover {
    background-color: #7396a3;
}

/* label color */
.input-field label {
    color: white;
}

/* label focus color */
.input-field input[type]:focus + label {
    font-size: 0.9em;
    color: white;
}

/* label underline focus color */
.input-field input[type]:focus {
    border-bottom: 1px solid white;
    box-shadow: 0 1px 0 0 white;
}

/* icon prefix focus color */
.input-field .prefix.active {
    color: white;
}